html {
    background-image: url(https://cdn.hovia.com/app/uploads/groovy-colourful-70s-wallpaper-mural-Plain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
} 


.container {
    max-width: 800px;
    width: 100%;
  }

  #house {
    position: absolute;
  }

table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
    background-color: rgba(255, 255, 255, 0.549);
}

thead {
    background-color: plum;
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

td {
    border-top: 1px solid darkorchid;
}

h1 {
    word-spacing: 2;
    letter-spacing: 2;
    color: rgb(254, 232, 194);
    text-align: center;
    display: block;
    font-size: 35px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;
}

h2 {
    word-spacing: 2;
    letter-spacing: 2;
    color: rgb(101, 39, 163);
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#contact {
    text-align: center;
    color: rgb(101, 39, 163);
    font-size: 16;
    font-weight: bolder;
    letter-spacing: 2;
    margin-bottom: auto;
    margin-top: auto;
    padding-top: 30;
  }